@import url(https://fonts.googleapis.com/css?family=Lato:700,900|Open+Sans);

.mdl-layout__drawer-button {
    color: #b5b5b5
}

.mdl-card .card_title {
    font-family: Lato, sans-serif;
    font-weight: bolder;
    color: #282828
}

.mdl-card .card_description, .story_description {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    line-height: 1.5em
}

.story_viz {
    padding: 0;
    width: 100%
}

.story_title {
    font-family: Lato, sans-serif;
    font-weight: bolder;
    color: #282828
}

.mdl-card {
    border: solid #efefef;
    border-width: 1px
}

.section--center {
    border-radius: 10px
}

#loading {
    width: 100%;
    height: 100%;
    vertical-align: center;
    position: fixed;
    display: block;
    opacity: .7;
    background-color: #fff;
    z-index: 99;
    text-align: center
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100
}

.mdl-tabs__tab-bar {
    background-color: #fff
}

.mdl-tabs__tab {
    color: #282828;
    font-size: 12px
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: #282828;
}

a.mdl-tabs__tab.is-active {
    text-decoration: underline
}

.mdl-story .toc a, .mdl-story section .section__text a {
    text-decoration: none
}

body, html {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0
}

a {
    color: #7e64e0
}

.mdl-story .mdl-layout__header-row {
    padding-left: 40px
}

.mdl-story .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
    font-size: inherit
}

.mdl-story .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button, .mdl-story .mdl-layout__tab-bar-button {
    display: none
}

.mdl-story .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar, .mdl-story .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
    overflow: visible
}

.mdl-story .mdl-layout__tab-bar-container {
    height: 64px
}

.mdl-story .mdl-layout__tab-bar {
    padding: 0 0 0 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%
}

.mdl-story .mdl-layout__tab-bar .mdl-layout__tab {
    height: 64px;
    line-height: 64px
}

.mdl-story .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
    background-color: #fff;
    height: 4px
}

.mdl-story main>.mdl-layout__tab-panel {
    padding: 48px 8px 8px
}

.mdl-story .mdl-card {
    height: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.mdl-story .mdl-card>* {
    height: auto
}

.mdl-story .mdl-card .mdl-card__supporting-text {
    margin: 40px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
    color: inherit;
    width: calc(100% - 80px)
}

.mdl-story.mdl-story .mdl-card__supporting-text h4 {
    margin-top: 0;
    margin-bottom: 20px
}

.mdl-story .mdl-card__actions {
    margin: 0;
    padding: 4px 40px;
    color: inherit
}

.mdl-story .mdl-card__actions a {
    color: #00BCD4;
    margin: 0
}

.mdl-story .mdl-card__actions a:active, .mdl-story .mdl-card__actions a:hover {
    color: inherit;
    background-color: transparent
}

.mdl-story .mdl-card__supporting-text+.mdl-card__actions {
    border-top: 1px solid rgba(0, 0, 0, .12)
}

.mdl-story #add {
    position: absolute;
    right: 40px;
    top: 36px;
    z-index: 999
}

.mdl-story .mdl-layout__content section:not(:last-of-type) {
    position: relative;
    margin-bottom: 48px
}

.mdl-story section.section--center {
    max-width: 860px
}

.mdl-story #features section.section--center {
    max-width: 620px
}

.mdl-story section>header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.mdl-story section>.section__play-btn {
    min-height: 200px
}

.mdl-story section>header>.material-icons {
    font-size: 3rem
}

.mdl-story section>button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px
}

.mdl-story section .section__text {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 8px
}

.mdl-story section .section__text h5 {
    font-size: inherit;
    margin: 0 0 .5em
}

.mdl-story section .section__circle-container>.section__circle-container__circle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 8px 0
}

.mdl-story section.section--footer .section__circle--big {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 8px 32px
}

.mdl-story .is-small-screen section.section--footer .section__circle--big {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 8px 16px
}

.mdl-story section.section--footer {
    padding: 64px 0;
    margin: 0 -8px -8px
}

.mdl-story section.section--center .section__text:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .13)
}

.mdl-story .mdl-card .mdl-card__supporting-text>h3:first-child {
    margin-bottom: 24px
}

.mdl-story .mdl-layout__tab-panel:not(#overview) {
    background-color: #fff
}

.mdl-story #features section {
    margin-bottom: 72px
}

#features h5, .mdl-story #features h4 {
    margin-bottom: 16px
}

.mdl-story .toc {
    border-left: 4px solid #C1EEF4;
    margin: 24px;
    padding: 0 0 0 8px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.mdl-story .toc h4 {
    font-size: .9rem;
    margin-top: 0
}

.mdl-story .toc a {
    color: #4DD0E1;
    font-size: 16px;
    line-height: 28px;
    display: block
}

.mdl-story .mdl-menu__container {
    z-index: 99
}

.mdl-layout__header {
    background-color: transparent
}